/* nav related style */

*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;

}


nav > ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav li{
    margin-right: 68px;
    
}

nav li a {
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: #ffffff;
font-size: 15px;
border: 50px;
font-weight: 700;
padding: 15px 35px;
cursor: pointer;

}


/* header realted style */


.header{
    background-color: #FFF8F3;
    background-image: url(header_bg.png),url("../developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
}


.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
/* .profile-photopiya{
    color: rgba(24, 24, 24, 0.15);
    width: 72px;

} */
.profile-pic{
    width: 500px;
    /* padding: 30px 30px 0px 150px; */
}

/* .profile-photo{
    justify-content: space-between;
    color: rgba(24, 24, 24, 0.15);
    font-family: Open Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 33px;
    
} */

.banner-content{
    max-width: 500px;
}


.banner-greeting{
    font-size: 45px;
    font-weight: 700;
    margin-bottom:0;
    color: #474747;
}

.title{
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    color: #181818;
    margin-bottom: 0;
}

.banner-description{
    padding: 5px;
}

.profile-photo{

}

/* main section styles */

main{
    /* max-width: 1100px; 
     margin: 0 auto; */
}

main section{
    margin-top: 130px;
}
/* about section styles */
.about{
    padding: 90px 0;
    margin: 120px 200px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-top: 15px;
}

.section-description{
    font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
text-align: center;
color: #757575;
padding: 10px;
line-height: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.about-info{
    text-align: center;
}

.info-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 30px; */
    color: #757575;
    text-align: center;
    font-family: 'Open Sans';
    /* padding-bottom: 20px; */
    
}

.info-description{
    color: var(--Dark-02, #474747);
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    /* line-height: 30px; */
    /* padding-bottom: 20px; */
    
}

/* skill related style */

.skills-container{
    display: flex;
    margin: 50px 200px;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}


.skill-description{
    color: #757575;
}

/* Resume section styles */

.resume-container{
    display: flex;
    margin: 0 200px;
    gap: 50px;
}

.resume-colum-title{
    color: #474747;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-title{
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.resume-institute{
    color: #757575;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 10px;
}


.resume-description{
    color: #757575;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
padding: 10px;
}

.resume-container hr{
    margin: 30px;
}


.download-cv{
    text-align: center;
    padding: 50px 0 100px;
}



/* footer section styles */

.footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.social-links a{
    margin-right: 25px;
}
.footer-column{
    width: 50%;
}

.footer-title{
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-top: 15px;
}

.footer-description{
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}

.contact input[type="text"], .contact input[type="email"],
textarea
{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    text-align: left;
    color: #757575;
    border: 0;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ffffff;
}




















