
@media screen and (min-width:576px) and (max-width:1200px){
    .about{
        padding: 90px 0;
        margin: 120px 50px;
        border-radius: 10px;
        background: #FFF8F3;
    }
    .new-div{
        margin: 0 50px;
    }
    .skills-container{
        margin: 50px 0 ;
        
        /* display: grid; */
        /* grid-template-columns: repeat(2,1fr); */
    }
    .resume-container{
        display: flex;
        margin: 0 50px;
        gap: 50px;
    }
    .about-info-container{
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
    }
    .section-description{
       
        text-align: justify;
     }
     .info-description{
         font-size: 12px;
     }
     .info-title{
         font-size: 16px;
     }
     .footer{
        display: flex;
        background: #FFF8F3;
        padding: 130px 100px;
        margin-top: 100px;
    }
}








